<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Hack_Home.Client.Hack_Home.Client" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="@string/ApplicationName" android:theme="@android:style/Theme.Holo.Light" android:icon="@drawable/Icon"></application>
</manifest>